<?xml version="1.0"?>  
<ML-CONFIG>  
  <DATASET>  
  <INSTANCE-TYPE>Token</INSTANCE-TYPE>  
  
  <ATTRIBUTE>  
    <NAME>Lookup(0)</NAME>  
    <TYPE>Lookup</TYPE>   
    <POSITION>0</POSITION>  
  </ATTRIBUTE>  
 
  <ATTRIBUTE>  
    <NAME>LookupMT(1)</NAME>  
    <TYPE>Lookup</TYPE>  
    <FEATURE>majorType</FEATURE>    
    <POSITION>1</POSITION>  
    <VALUES>  
      <VALUE>location</VALUE> 
      <VALUE>money_unit</VALUE>  
      <VALUE>date_key</VALUE>  
      <VALUE>date</VALUE>
      <VALUE>facility</VALUE> 
      <VALUE>person</VALUE>  
      <VALUE>number</VALUE>  
      <VALUE>organisation</VALUE>   
      <VALUE>time</VALUE>  
      <VALUE>Person</VALUE>
       <VALUE>Organization</VALUE>
       <VALUE>Location</VALUE>
       <VALUE>Gpe</VALUE>
	<VALUE>Fac</VALUE>
	<VALUE>Date</VALUE>
	<VALUE>Cardinal</VALUE>
	<VALUE>Ordinal</VALUE>
	<VALUE>Money</VALUE>
	<VALUE>Quantity</VALUE>
	<VALUE>Substance</VALUE>
	<VALUE>Gpe_desc</VALUE>
	<VALUE>Per_desc</VALUE>
	<VALUE>Product_desc</VALUE>
	<VALUE>Fac_desc</VALUE>
	<VALUE>Nationality</VALUE>
	<VALUE>Percent</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
  
  <ATTRIBUTE>  
    <NAME>LookupMT(0)</NAME>  
    <TYPE>Lookup</TYPE>  
    <FEATURE>majorType</FEATURE>    
    <POSITION>1</POSITION>  
    <VALUES>  
      <VALUE>location</VALUE> 
      <VALUE>money_unit</VALUE>  
      <VALUE>date_key</VALUE>  
      <VALUE>date</VALUE>
      <VALUE>facility</VALUE> 
      <VALUE>person</VALUE>  
      <VALUE>number</VALUE>  
      <VALUE>organisation</VALUE>   
      <VALUE>time</VALUE>  
      <VALUE>Person</VALUE>
       <VALUE>Organization</VALUE>
       <VALUE>Location</VALUE>
       <VALUE>Gpe</VALUE>
	<VALUE>Fac</VALUE>
	<VALUE>Date</VALUE>
	<VALUE>Cardinal</VALUE>
	<VALUE>Ordinal</VALUE>
	<VALUE>Money</VALUE>
	<VALUE>Quantity</VALUE>
	<VALUE>Substance</VALUE>
	<VALUE>Gpe_desc</VALUE>
	<VALUE>Per_desc</VALUE>
	<VALUE>Product_desc</VALUE>
	<VALUE>Fac_desc</VALUE>
	<VALUE>Nationality</VALUE>
	<VALUE>Percent</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
  
  <ATTRIBUTE>  
    <NAME>LookupMT(-1)</NAME>  
    <TYPE>Lookup</TYPE>  
    <FEATURE>majorType</FEATURE>    
    <POSITION>-1</POSITION>  
    <VALUES>  
      <VALUE>location</VALUE> 
      <VALUE>money_unit</VALUE>  
      <VALUE>date_key</VALUE>  
      <VALUE>date</VALUE>
      <VALUE>facility</VALUE> 
      <VALUE>person</VALUE>  
      <VALUE>number</VALUE>  
      <VALUE>organisation</VALUE>   
      <VALUE>time</VALUE>  
      <VALUE>Person</VALUE>
       <VALUE>Organization</VALUE>
       <VALUE>Location</VALUE>
       <VALUE>Gpe</VALUE>
	<VALUE>Fac</VALUE>
	<VALUE>Date</VALUE>
	<VALUE>Cardinal</VALUE>
	<VALUE>Ordinal</VALUE>
	<VALUE>Money</VALUE>
	<VALUE>Quantity</VALUE>
	<VALUE>Substance</VALUE>
	<VALUE>Gpe_desc</VALUE>
	<VALUE>Per_desc</VALUE>
	<VALUE>Product_desc</VALUE>
	<VALUE>Fac_desc</VALUE>
	<VALUE>Nationality</VALUE>
	<VALUE>Percent</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
  
  <ATTRIBUTE>  
    <NAME>LookupMinType(-1)</NAME>  
    <TYPE>Lookup</TYPE>  
    <FEATURE>minorType</FEATURE>    
    <POSITION>-1</POSITION>  
    <VALUES>  
    <VALUE>city</VALUE>
    <VALUE>country</VALUE>
    <VALUE>day</VALUE>
    <VALUE>female</VALUE>
     <VALUE>inferred</VALUE>
    <VALUE>male</VALUE>
    <VALUE>other</VALUE>
    <VALUE>month</VALUE>
    <VALUE>monument</VALUE>
    <VALUE>mountain</VALUE>
    <VALUE>ordinal</VALUE>
    <VALUE>river</VALUE>
    <VALUE>surname</VALUE>
    <VALUE>title</VALUE>
    </VALUES>  
  </ATTRIBUTE> 
  
  <ATTRIBUTE>  
    <NAME>LookupMinType(0)</NAME>  
    <TYPE>Lookup</TYPE>  
    <FEATURE>minorType</FEATURE>    
    <POSITION>0</POSITION>  
    <VALUES>  
    <VALUE>city</VALUE>
    <VALUE>country</VALUE>
    <VALUE>day</VALUE>
    <VALUE>female</VALUE>
     <VALUE>inferred</VALUE>
    <VALUE>male</VALUE>
    <VALUE>other</VALUE>
    <VALUE>month</VALUE>
    <VALUE>monument</VALUE>
    <VALUE>mountain</VALUE>
    <VALUE>ordinal</VALUE>
    <VALUE>river</VALUE>
    <VALUE>surname</VALUE>
    <VALUE>title</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
  
  <ATTRIBUTE>  
    <NAME>LookupMinType(1)</NAME>  
    <TYPE>Lookup</TYPE>  
    <FEATURE>minorType</FEATURE>    
    <POSITION>1</POSITION>  
    <VALUES>  
    <VALUE>city</VALUE>
    <VALUE>country</VALUE>
    <VALUE>day</VALUE>
    <VALUE>female</VALUE>
     <VALUE>inferred</VALUE>
    <VALUE>male</VALUE>
    <VALUE>other</VALUE>
    <VALUE>month</VALUE>
    <VALUE>monument</VALUE>
    <VALUE>mountain</VALUE>
    <VALUE>ordinal</VALUE>
    <VALUE>river</VALUE>
    <VALUE>surname</VALUE>
    <VALUE>title</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
  
 <ATTRIBUTE>  
    <NAME>Entity(0)</NAME>  
    <TYPE>Entity</TYPE>  
    <POSITION>0</POSITION>  
    <CLASS/>  
  </ATTRIBUTE>  
 
 <ATTRIBUTE>  
    <NAME>Token_kind(-1)</NAME>  
    <TYPE>Token</TYPE>  
    <FEATURE>kind</FEATURE>  
    <POSITION>-1</POSITION>   
    <VALUES>  
        <VALUE>word</VALUE>  
	 <VALUE>punctuation</VALUE>  
	  <VALUE>number</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
 
 <ATTRIBUTE>  
    <NAME>Token_kind(0)</NAME>  
    <TYPE>Token</TYPE>  
    <FEATURE>kind</FEATURE>  
    <POSITION>0</POSITION>   
    <VALUES>  
        <VALUE>word</VALUE>  
	 <VALUE>punctuation</VALUE>  
	  <VALUE>number</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
 
 <ATTRIBUTE>  
    <NAME>Token_kind(1)</NAME>  
    <TYPE>Token</TYPE>  
    <FEATURE>kind</FEATURE>  
    <POSITION>1</POSITION>   
    <VALUES>  
        <VALUE>word</VALUE>  
	 <VALUE>punctuation</VALUE>  
	  <VALUE>number</VALUE>
    </VALUES>  
  </ATTRIBUTE>  
  
  
 
  </DATASET>  
 
  <ENGINE>  
    <WRAPPER>gate.creole.ml.weka.Wrapper</WRAPPER>  
    <OPTIONS>  
    <CLASSIFIER OPTIONS="-X 1 -S 5">weka.classifiers.rules.DecisionTable</CLASSIFIER>
     <!-- <CLASSIFIER>weka.classifiers.j48.J48</CLASSIFIER>  
    <CLASSIFIER-OPTIONS>-K 3</CLASSIFIER-OPTIONS>   
     <CONFIDENCE-THRESHOLD>0.85</CONFIDENCE-THRESHOLD>  -->
    </OPTIONS>  
  </ENGINE>  
</ML-CONFIG>
 
